body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1283px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------- Header Start ----------------- */

.logo {
    display: block;
    margin-top: 63px;
    text-decoration: none;
    line-height: 80px;
    font-size: 80px;
    color: #4BCAFF;
}

.logo span {
    color: #000;
}

.header-nav {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    background-color: #35444F;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item a {
    text-decoration: none;
    padding: 20px 32px;
    border: 1px solid #fff;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    color: #FFF;
    font-size: 24px;
    line-height: 1.5;
}

.nav-item a:hover {
    padding: 20px 32px;
    background-color: rgb(34 47 57);
}

/* -------------- Header End ----------------- */


/* -------------- Main Start ------------- */

.vertical-menu {
    display: inline-block;
    vertical-align: top;
    margin-right: 52px;
    border: 1px solid #000;
    width: 344px;
}

.menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu-list li:hover {
    padding-left: 20px;
    background: #DBDBDB;
}

.menu-list a {
    padding: 25px 38px;
    display: flex;
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px; /* 100% */
}

.main-article {
    display: inline-block;
    width: 883px;
}

.article-box {
    display: flex;
    flex-direction: column;
}

.image-box {
    border: 1px solid #000;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    margin-bottom: 24px;
}

.article-img {
    scale: 1;
    transition: scale 1s;
}

.article-img:hover {
    scale: 1.05;
}

.article-content {
    margin: 0;
    padding-top: 13px;
    font-size: 18px;
    line-height: 24px; /* 133.333% */
}

/* -------------- Main End ------------- */

/* -------------- Footer Start ------------- */

.footer {
    width: 1283px;
    margin: 54px auto 30px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(99, 105, 110, 0.48);
}

.footer-nav {
    min-width: 875px;
}

.footer-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-nav-item a {
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    line-height: 28px; /* 100% */
}

.footer-nav-item a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copy {
    margin: 0;
    color: #010101;
    font-size: 24px;
    line-height: 24px; /* 100% */
}

/* -------------- Footer End ------------- */
